{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_contact.css' %}">
    <title>Contact page</title>
</head>

<body>
    <div class="container1">

        <div class="logo"><img src="{% static 'images/logo.png' %}" alt=""></div>
        <div class="navRight">

            <a href="{% url 'my_app:home' %}">Home</a>
            <a href="{% url 'my_app:gallary' %}">Gallary</a>
            <a href="{% url 'my_app:players' %}">Players</a>
            <a href="{% url 'my_app:about' %}">About Us</a>
            <a href="{% url 'my_app:contact' %}">Contact Us</a>

        </div>
    </div>

    <div class="contactUs">

        <div class="title">
            <h2>Get in Touch</h2>
        </div>
        <div class="box">
            <!-- form -->
            <div class="contact form">
                <h3>Send a Message</h3>
                <form>
                    <div class="formBox">
                        <div class="row50">
                            <div class="inputBox">
                                <span>First Name</span>
                                <input type="text" placeholder="First Name">
                            </div>
                            <div class="inputBox">
                                <span>Last Name</span>
                                <input type="text" placeholder="Last Name">
                            </div>
                        </div>

                        <div class="row50">
                            <div class="inputBox">
                                <span>Email</span>
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="inputBox">
                                <span>Mobile</span>
                                <input type="text" placeholder="Mobile No">
                            </div>
                        </div>
                        <div class="row100">
                            <div class="inputBox">
                                <span>Message</span>
                                <textarea placeholder="Write your message here.."></textarea>
                            </div>
                        </div>

                        <div class="row100">
                            <div class="inputBox">

                                <input type="submit" value="send">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- info box -->
            <div class="contact info">
                <h3>Contact info</h3>
                <div class="infoBox">
                    <div>
                        <span></span>
                        <p>BOARD OF CONTROL FOR CRICKET IN INDIA <br>
                            4th Floor, Cricket Centre <br>
                            Wankhede Stadium <br>
                            ‘D’ Road, Churchgate <br>
                            Mumbai- 400020 <br>
                            India</p>
                    </div>
                    <div>
                        <span></span>
                        <a href="mailto:bcci@email.com">bcci@email.com</a>
                    </div>

                    <div>
                        <span></span>
                        <a href="tel:  022 - 2289 8800">T 022 - 2289 8800</a>
                        <br>
                        <a href="tel:  022 - 2289 8800">T 022 - 2289 8800</a>
                    </div>

                </div>

            </div>
            <!-- map -->
            <div class="contact map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45935.861676268!2d80.11078851133882!3d12.968244850314333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525ff8c180b5a7%3A0x2a00cac08396946d!2sBCCI!5e0!3m2!1sen!2sin!4v1670604444811!5m2!1sen!2sin"
                    style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>

    </div>
    <!--  social media logo -->

    <div class="appLogo">
        <a href=""><img src="{% static 'images/socialmedia.png' %}" alt=""></a>
    </div>

    <br><br><br><br>

    <div class="container4">
        <div><img src="{% static 'images/byjus.png' %}" alt=""></div>
        <div><img src="{% static 'images/star.png' %}" alt=""></div>
        <div><img src="{% static 'images/mpl.png' %}" alt=""></div>
        <div><img src="{% static 'images/hyundai.png' %}" alt=""></div>
        <div><img src="{% static 'images/dream11.png' %}" alt=""></div>
        <div><img src="{% static 'images/ambuja.png' %}" alt=""></div>
        <div><img src="{% static 'images/master-card.png' %}" alt=""></div>


    </div>
    <br><br><br>




    <!-- FOOTER -->
    <div class="footer">
        <div>
            <h1>T +91 22 - 2289 8800

                F 022 - 2289 8801</h1>
        </div>
        <div>
            <h1>Copyrights BCCI 2021 , All Rights Reserved.</h1>
        </div>
        <div>
            <h1>Terms and Conditions</h1>
        </div>
        <div>
            <h1>Privacy Policy</h1>
        </div>

    </div>

</body>