{% extends 'my_app_templates/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
{% block content %}


<div class="image1">
    <img src="{% static 'images/GettyImages.jpg' %}" alt="">
</div>



<div class="container2">
    <div>
        <h3 class="india">India</h3>
    </div>

    <div>
        <h1 class="history">History of cricket in India</h1>
    </div>
    <div>
        <p class="hist_content">Cricket arrived in India- courtesy English colonialists in the late 1700s. Calcutta
            Cricket Club was the
            first club,
            formed in 1792 for Europeans only. Indians soon began to play, however, with the game taking prominence
            in Bombay. The
            Parsees beat the Europeans in 1877 and subsequently toured England, though won only one game. The Board
            of Control for
            Cricket in India (BCCI) was formed in 1928 and India finally made its Test debut in 1932, after which a
            national
            competition followed in 1934, named the Ranji Trophy after KS Ranjitsinhji.
        </p>

    </div>
    <div>
        <h3 class="history">International cricket</h3>
    </div>
    <div>
        <p class="hist_content">With Test series win under their belt against Pakistan, New Zealand and England at
            home, India turned a
            corner with
            their first ever Test series win outside the sub-continent in 1967-68 against New Zealand. India began
            to be recognized
            as a potent force when they outplayed the West Indies and England in their own backyard in 1971, a feat
            not many had
            envisaged.
            <br><br>

            As one-day format began to gain prominence, India shocked twice reigning champions West Indies to lift
            the 1983 World
            Cup. The World Cup high was followed by another sparkling performance in Australia as India won the
            World Championship
            of Cricket in 1985.
            <br><br>

            Producing world-class talent both in batting and bowling departments, India continued their upward
            march. In 2002, they
            were declared joint winners with Sri Lanka after the final was as hampered by rain. The 2007 ICC World
            T20 in South
            Africa will be remembered fondly by the fans as with a little knowhow of the format, India under MS
            Dhoni, beat Pakistan
            in the final to be crowned champions in the tournament’s inaugural edition.
            <br><br>

            India’s consistency across format was reflected two years later when in November 2009, India became the
            No.1 Test side
            in the world. They continued their dominance at the top till August 2011. Earlier that year, India beat
            Sri Lanka in the
            final of the World Cup and became the first team ever to win the most important trophy as hosts. MS
            Dhoni became the
            second captain after Kapil Dev to lead India to victory in the World Cup, leading to wide celebrations
            across the
            country.
            <br><br>

            Dhoni was once again at the helm as India outplayed hosts England by five runs to lift the ICC Champions
            Trophy. India
            showed their ability to adapt when they won the Asia Cup in 2016. It was the first time that the
            tournament was being
            played in the T20I format and the Men in Blue remained unbeaten throughout the competition.
            <br><br>


            In Test cricket, India have created a sizable lead over others and end 2016 as the No.1 Test team in the
            world. They
            played 12 Test matches in 2016 and won nine, the most they have won in a calendar year.
        </p>
    </div>
    


</div>
<div>
    <h1 class="news">News</h1>
</div>
<hr>

<div class="container3">


    <div class="card">
        <img src="{% static 'images/mastercard.webp' %}" alt="">
        <div class="info">
            <h1>BCCI and Master Card launch</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, corrupti quis! Enim sed maiores iure
                unde, earum sit aperiam accusantium asperiores ducimus facere consequuntur, corrupti sequi porro
                fugit! Accusamus, sequi.</p>
            <a href="#" class="btn">Read More</a>
        </div>


    </div>

    <div class="card">
        <img src="{% static 'images/Arjun.webp' %}" alt="">
        <div class="info">
            <h1>Hrishikesh Kanitkar appointed as Batting Coach-Team India (Senior Women),Romesh Powar to join NCA
            </h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, corrupti quis! Enim sed maiores iure
                unde, earum sit .</p>
            <a href="#" class="btn">Read More</a>
        </div>


    </div>

    <div class="card">
        <img src="{% static 'images/green.webp' %}" alt="">
        <div class="info">
            <h1>Kuldeep Yadav added to India’s squad for the third ODI against Bangladesh</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, corrupti quis! Enim sed maiores iure
                unde, earum sit aperiam </p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>

    <div class="card">
        <img src="{% static 'images/yello.webp' %}" alt="">
        <div class="info">
            <h1>BCCI announces schedule for Mastercard home series against Sri Lanka, New Zealand & Australia</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, corrupti quis! Enim sed maiores iure
                unde, earum sit aperiam</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>

</div>

<!--  social media logo -->




<br><br><br><br>

<div class="container4">
    <div><img src="{% static 'images/byjus.png' %}" alt=""></div>
    <div><img src="{% static 'images/star.png' %}" alt=""></div>
    <div><img src="{% static 'images/mpl.png' %}" alt=""></div>
    <div><img src="{% static 'images/hyundai.png' %}" alt=""></div>
    <div><img src="{% static 'images/dream11.png' %}" alt=""></div>
    <div><img src="{% static 'images/ambuja.png' %}" alt=""></div>
    <div><img src="{% static 'images/master-card.png' %}" alt=""></div>


</div>

{% endblock %}